.custBody{
    background:#fff;
    color:#333;
    font-family: "Roboto-Regular", "Roboto", sans-serif;
    font-size:1rem;
    font-style:normal;
    font-weight:normal;
    -webkit-font-smoothing:antialiased;
    line-height:1.5;
    margin:0;
    text-rendering:optimizeLegibility

}
.ds_radio1{
    margin-bottom:24px;
    padding-left:40px;
    position:relative;
    display: inline-block !important;
}
.ds_radio__input1{
    height:44px;
    left:-2px;
    opacity:0;
    position:absolute;
    top:-2px;
    width:44px;
    display: inline-block !important;
}
.ds_radio--small .ds_radio__input1:hover+.ds_radio__label::before{
    box-shadow:0 0 0 11px #ccc
}
.ds_radio--small .ds_radio__input1:hover:focus+.ds_radio__label::before{
    box-shadow:0 0 0 3px #fdd522,0 0 0 11px #b1b4b6
}
.ds_radio__input1:focus+.ds_radio__label::before{
    border-width:4px;
    box-shadow:0 0 0 3px #fdd522
}
@media screen and (forced-colors: active)and (prefers-contrast: more){
    .ds_radio__input1:focus+.ds_radio__label::before{
        outline-color:highlight !important;
        outline-style:solid !important;
        outline-width:4px !important;
        outline-offset:-4px
    }
}
.ds_radio__input1:checked+.ds_radio__label::before{
    border-color:#333
}
.ds_radio__input1:checked+.ds_radio__label::after{
    opacity:1
}
.ds_label1{
    color:#333;
    display:inline-block;
    font-weight:700;
    margin-bottom:8px;
    font-size:19px;
}